{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="row">
        <div class="justify-content-between card-group col-9">
            {% for post in pager %}
                <a href="{{ path('app_post_show', {'slug': post.slug, 'abc': 123}) }}" class="link-card">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="https://bi.im-g.pl/im/57/82/1b/z28845911ID,Pilne.jpg" class="card-img-top">
                        <div class="card-body">
                            {% if not app.request.get('category') %}
                                <h6 class="card-subtitle mb-2 text-muted">{{ post.category }}</h6>
                            {% endif %}
                            <p class="card-text">{{ post.title }}</p>
                        </div>
                    </div>
                </a>
            {% else %}
                <p>no records found</p>
            {% endfor %}
        </div>
        <div class="col-3">
            <ul class="list-group">
            {% for category in categories %}
                <a href="{{ path('app_post_index', { 'category': category.id }) }}"
                   class="list-group-item {{ isActive(app.request.get('category'), category.id) }}"
                >
                    <li class="d-flex justify-content-between align-items-center">
                        {{ category.name }}
                        <span class="badge bg-primary rounded-pill">
                            {{ category.postsNumber }}
                        </span>
                    </li>
                </a>
            {% endfor %}
            </ul>
        </div>
    </div>

    {{ pagerfanta(pager) }}
{% endblock %}
